{% extends 'story7/base.html' %}
{% load static %}

{% block title %}Nur Wasi Na'wa - Story 7{% endblock %}

{% block heading %}
<h1>Story 7</h1>
{% endblock %}

{% block body %}
<div class="text-center"> 
    <div class="wrapper">
    {% for item in accordion %}
        <div class="acc-item {{item.id}}">
            <div class="acc-header">
                <div class="float-right">
                    <i class="far fa-caret-square-up move-up"></i>
                    <i class="far fa-caret-square-down move-down"></i>
                </div>
                <div class="title">{{item.header}}</div>                
            </div>
            <div class="acc-body">
                <p>{{item.body}}</p> 
            </div>
        </div>    
    {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %} 
<script>
        $(".move-down").click(function(){
            $(".acc-header").removeClass("active");
            //element to move
            var $el = $(this).parent().parent().parent();
            
            //move element down one step
            if ($el.not(':last-child'))         
                $el.next().after($el);
        });

        $(".move-up").click(function(){
            $(".acc-header").removeClass("active");
            //element to move
            var $el = $(this).parent().parent().parent();

            // //move element up one step
            if ($el.not(':first-child'))
                $el.prev().before($el);
        });         
    });
</script>
{% endblock %}