.dark{
  --bg: black; 
  --text: antiquewhite;
  --header: bisque;
  --h-text: sienna;
  --h-active: rosybrown;
  --border: burlywood;
  --move: burlywood;
  --hover: #cca46f;
  --b-bg: #111;
  --b-text: bisque;  
}

.light{
  --bg: rgb(240, 215, 182); 
  --text: black;
  --header: black;
  --h-text: bisque;
  --h-active: burlywood;
  --border: #111;
  --move: burlywood;
  --hover: #cca46f;
  --b-bg: antiquewhite;
  --b-text: #111; 
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg);
  color: var(--text);
  transition: all 0.5s ease;
}

#logo {
    width: 150px;
    margin: 1rem;
}

.header{
    background-color: var(--bg);
    color: var(--text);
    padding: 1rem 0 1rem 0;
    margin-bottom: 2rem;
    transition: all 0.5s ease;
}

.confirm:hover{
    color: antiquewhite;
}

.change-color{
  display: none;
}

.masonry-wrapper {
  padding: 1.5em;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}
.masonry {
  display: grid;
  grid-template-columns: repeat(1, minmax(100px,1fr));
  grid-gap: 10px;
  grid-auto-rows: 0;
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    grid-template-columns: repeat(2, minmax(100px,1fr));
  }
}
@media only screen and (min-width: 1024px) {
  .masonry {
    grid-template-columns: repeat(3, minmax(100px,1fr));
  }
}
.masonry-item, .masonry-content {
  border-radius: 4px;
  overflow: hidden;
}
.masonry-item {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
  transition: filter .25s ease-in-out;
}
.masonry-item:hover {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
}
.masonry-content {
  overflow: hidden;
}
.masonry-item {
  color: black; 
  background-color: bisque;
}
.masonry-title, .masonry-description {
  margin: 0;
}
.masonry-title {
  font-weight: 700;
  font-size: 1.1rem;
  padding: 1rem 1.5rem;
}
.masonry-description {
  padding: 1.5rem;
  font-size: .75rem;
  border-top: 1px solid rgba(0, 0, 0, .05);
}
.masonry-footer {
  font-size: .75em;
  padding-bottom: 3em;
  margin-bottom: -1.5em;
  transition: opacity 1s ease-in-out;
}
.masonry-footer a {
  color: currentColor;
}
.masonry-footer:hover, .masonry-footer:active, .masonry-footer:focus {
  opacity: .75;
}

.newmsg, .card {
    background-color: burlywood;
    border: 1px solid burlywood;
    color: black;
}
.newmsg:focus {
    background-color: bisque;
    border: 1px solid bisque;
    color: black;
}

.wrapper {
    max-width: 500px;
    margin: 0 auto 3rem auto;
}

.wrapper .acc-item .acc-header{
    background-color: var(--header);
    color: var(--h-text);
    line-height: 2.5rem;
    cursor: pointer;
    padding: 0 1rem 0 1rem;
    text-align: left;
    border-bottom: 2px solid var(--border);
}

.move-up, .move-down {
  font-size: 20px;
  color: var(--move);
}

.wrapper .acc-item:last-child .acc-header{
  border-bottom: none;
}

.wrapper .acc-item .acc-header:hover .title{
  color: var(--hover);
}

.move-up:hover, .move-down:hover {
  color: var(--hover);
}

.wrapper .acc-item:first-child .acc-header{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .acc-item:last-child .acc-header{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .acc-item .acc-body{
  height: 0px;
  transition: all 0.5s ease;
  background-color: var(--b-bg);
  color: var(--b-text);
  text-align: left;
  overflow: hidden;
}

.wrapper .acc-item .acc-body p{
  padding: 1rem;
}

.wrapper .acc-item .acc-header.active{
  border-bottom: 2px solid var(--h-active);
  color: var(--h-active);
}

.wrapper .acc-item .acc-header.active + .acc-body{
  height: 180px;
  transition: all 0.5s ease;
}

.wrapper .acc-item:last-child .acc-header.active{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: all 0.5s ease;
}
.wrapper .acc-item:last-child .acc-body{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.result{
  background-color: bisque;
  border: 1px solid bisque;
  color: rosybrown;
}

.result .card-title {
  padding: 1rem 1rem 0 1rem;
}

#top5 .modal-content, #top5 .modal-header, #top5 .modal-footer {
  background-color: antiquewhite;
  border-color: #f5deb3;
  color: black;
}

.signup {
  background: bisque;
  max-width: 500px;
}

.border-top {
  border-color: burlywood !important;
}

.lyrics {
  color: darksalmon;
}